/* Google fonts being used:
font-family: 'Bungee Shade', cursive;
font-family: 'Quicksand', sans-serif;
*/

/* Colors:
#b5dbed - murcury blue
#d8ff7a - citron
#ff00f775 - milky pink
#d37373 - carmine red
*/

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #d8ff7a;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

a {
  text-decoration: none;
  color: #434343;
}

a:hover {
  color: #ff00f775;
}

a:active {
  color: #d8ff7a;
}

label {
  flex: 1;
  font-size: 16px;
  min-width: 165px;
}

input {
  flex: 1 0 30%;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  background-color: #434343;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: 0.3s;
  border: 1px solid #dddddd;
  padding: 5px 0px 5px 5px;
  margin: 5px 5px 3px 5px;
}

input[type='text']:hover {
  background-color: white;
  color: black;
}

input[type='text']:focus {
  font-family: 'Quicksand', sans-serif;
  background-color: #434343;
  color: white;
}

input[type='button'] {
  border-radius: 1em;
  padding: 5px 11px;
  background-color: #d37373;
  border: 2px solid white;
  box-shadow: 4px 2px 8px 2px #2c2b2b;
}

input[type='button']:hover {
  background-color: #b5dbed;
  color: black;
}

input[type='submit']:hover {
  background-color: #b5dbed;
  color: black;
}

.main-form {
  width: 90%;
  margin: 0;
}

.container h3 {
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
  margin: 20px 0 20px 40px;
  letter-spacing: 0.5rem;
}

.main {
  padding: 1em;
}

.icon {
  height: 26px;
}

#navbar {
  display: flex;
  width: 100%;
  z-index: 2;
  background-color: #b5dbed;
  position: fixed;
  top: 0;
  box-shadow: 1px 0px 13px 1px #4c7b91;
  justify-content: space-between;
  padding: 10px;
  padding-left: calc(100% - (100% - 10px));
  padding-right: calc(100% - (100% - 10px));
}

.footer {
  display: flex;
  width: 100%;
  background-color: #b5dbed;
  bottom: 0;
  box-shadow: 1px 0px 13px 1px #4c7b91;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: calc(100% - (100% - 10px));
  padding-right: calc(100% - (100% - 10px));
  position: fixed;
  font-size: 14px;
}

.footer div,
a {
  margin: 0 5px 0 5px;
}

#title {
  font-family: 'Bungee Shade', cursive;
  font-size: 3em;
  margin: 0 0 0 0;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav div {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0 50px 0;
}

.container {
  flex: 1;
  min-width: 350px;
  background-color: #000000;
  color: white;
  border-radius: 1em;
  margin: 35px 1em 0 1em;
  opacity: 0.85;
  box-shadow: 8px 5px 6px 0px #d37373;
}

.flex-grid {
  display: flex;
  padding: 0 40px 0 0;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  flex: 1;
}

.stock-quote {
  background-color: #434343;
  margin: 1em 1em;
  padding: 1em 1em;
  border-radius: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  flex: 1;
}

li {
  list-style: none;
  line-height: 2em;
}

hr.headbreak {
  border-top: 1px solid #b5dbed;
}
